/* ------------------------------------------------------------------
 * Keyframes
 * --------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* ------------------------------------------------------------------
 * Base styles
 * --------------------------------------------------------------- */

/* style */
* {
    border: none;
    border-radius: 0;
    font-family: "IBM Plex Sans", "FontAwesome";
    font-size: 13px;
    min-height: 0;
}

/* The whole bar */
window#waybar {
    background: #323232;
    /* background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    */
    color: white;
}
/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding: 0 6px;
    margin: 0 0px;
}


/* ------------------------------------------------------------------
 * Module styles
 * --------------------------------------------------------------- */


#workspaces button {
    border-top: 2px solid transparent;
    padding: 1 5px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#clock {
    font-weight: bold;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {}
#pulseaudio.muted {}

#network {}
#network.disconnected {
    color: orange;
}

#cpu {}
#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#temperature {}
#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#window {
    font-weight: bold;
}
